<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bebas+Neue&family=Secular+One&family=Staatliches&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/ddb4191dd2.js" crossorigin="anonymous"></script>
    <style>
        h1 {
            color: aqua;
            text-align: center;
            vertical-align: bottom;
            font-family: 'Bebas Neue', cursive;
            font-size: 140px;
            font-family: 'Anton', sans-serif;

        }
        i{
            color:red
        }
    </style>
</head>

<body>
    <h1>
        <i class="fa-solid fa-triangle-exclamation"></i> YOU ENTER WRONG PASSWORD OR ID
    </h1>
</body>

</html>