<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <STYLE>
            body{
                text-align: center;
            }
            .heading{
                font-family: 'Anton', sans-serif;
font-family: 'Secular One', sans-serif;
font-size: 60px;
color: bisque;
            }
            .sub_heading{
                font-family: 'Alfa Slab One';
                
                font-size: 40px;
            }

            .first{
                color:rgb(15, 192, 133);
            }

            .second{
                color:bisque;
            }
           .third{
               color:brown
           }
        </STYLE>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Secular+One&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <h1 class="heading">TEST CENTER ALLOATTMENT</h1>
        <p class="sub_heading first">NAME OF STUDENT- <%=name%></p>
        <p class="sub_heading second ">CENTER ALLOCATE- <%=title%></p>
        <p class="sub_heading third ">LOGIN ID - <%=id%></p>
    </body>
</html>