<html>
    <head>
     <title>title.name</title>
    </head>
    <body>
       <h1>STUDENTS LOGIN PAGE</h1>
       <h2><%=title.name%></h2>
       <h2>title.center</h2>
       <h2>title.location</h2>
    </body>
</html>